</main>

<footer>
  <p class="copyright">Copyright © <%=new Date().getFullYear();%></p>
  <ul class="footermenu">
    <li href="">Twitter</li>
    <li href="">Linkedin</li>
    <li href="">Email</li>
  </ul>
</footer>
</body>

</html>