<%-include("partials/header.ejs")%>
<section class="create">
    <form action="/" method="POST">
        <div class="inputbox">
            <textarea name="title" id="title" required="required" rows="2"></textarea>
            <span>Title</span>
        </div>

        <div class="inputbox">
            <textarea name="description" id="description" required="required" rows="3"></textarea>
            <span>Description</span>
        </div>

        <div class="inputbox" id="blogtextinput">
            <textarea name="blogtext" id="blogtext" required="required" rows="5"></textarea>
            <span>Blog Text</span>
        </div>
        
        <div class="inputbox">
            <input type="submit" value="Submit">
        </div>
        
    </form>
</section>
<%-include("partials/footer.ejs")%>